@use "library";
@use "mixins";

* {
  box-sizing: border-box;
}

.container {
  @include mixins.makeRow;
  align-content: center;
  align-items: center;
  width: 731px;
  height: 281px;
  margin: auto;
  border-radius: 15px;

  .imageContainer {
    width: 286px;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    img {
      height: 100%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }

  .infoContainer {
    @include mixins.makeColumn;
    width: 455px;
    height: 100%;
    padding: 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    // background-color: library.$ligthGray;
    background-color: white;

    #title {
      padding: 0px;
      font-weight: 700;
      font-size: 20px;
    }

    #description {
      padding: 10px 0px 0px 0px;
      font-size: 13px;
    }

    #profile {
      @include mixins.makeRow;
      padding-top: 20px;
      justify-content: space-between;
      align-items: center;
      vertical-align: baseline;

      #avatarName {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;

        #avatar {
          padding-right: 10px;
        }
        #avatarImage {
          width: 40px;
          border-radius: 100%;
        }
      }

      #name {
        align-self: left;
        font-weight: bold;
      }

      #shareBtn {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: library.$ligthGray;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }

      #shareIcon {
        width: 20px;
      }
    }
  }
  
}


.iconContainer {
  border: 3px solid yellow;
  background-color: library.$dark;
  height: 50px;
  width: 200px;
  position: absolute;
  right: 303px;
  top: 315px;
  @include mixins.makeRow;
  justify-content: space-evenly;
  vertical-align: center;
  align-items: center;

  
  img {
    width: 20px;
    height: 20px;
  }
  
}

.hidden {
    display: none;
}

@media (max-width: 376px) {
}